body, html { 
  font-size: 100%;
  padding: 0; 
  margin: 0; 
  background-color: #fdfaf1;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

table {
	display: block;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #DDD;
}

th {
	padding: 15px;
	border-right: 1px solid #DDD;
	text-align: left;
}

td {
	padding: 15px;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;	
}

a {
	text-decoration: underline;
}

p {
	font-size: 100%;
}

#wrap {
	overflow-x: hidden !important;
	height: 100%;
	position: relative;
}

.container {
	position: relative;
	width: 80vw;
	margin: 0 auto;
}

.content {
	padding: 3em;
}

.pull-left {
	position: absolute;
	left: 0;
}

.pull-right {
	position: absolute;
	right: 0;
  padding: 0.4em 0 0.6em;
}

.column-5 {
	margin-top: 2em;
  width: 50%;
  display: inline-block;	
}

.column-5 h1 {
	margin: 0.1em 0;
}

.table-version-control {
  background-color: #fff;
}

.website-info {
	background-color: #fff;
	padding: 5px 25px 25px;
	border: 1px solid #ddd;
	border-radius: 20px;
}

.website-info button {
  background: #275d2c;
  color: #FFF;
  border: 1px solid #275d2c;
  border-radius: 4px;
  padding: 0.5em 0.6em 0.3em;
  float: right;
  position: relative;
  top: 5px;
}

.website-info-content {
	margin: 1em 0;
	border: 1px solid #ddd;
	border: 1px solid grey;
	border-radius: 4px;
}

.website-info-content h3 {
	padding: 0.5em 0.6em 0.2em;
	background-color: #dac9ab;
	margin: 0;
}

.website-info-content h3:last-child {
	background-color: #fff;
}

header {
	padding: 0.5rem 0;
	background-color: #EADAC0;	
	z-index: 999;
}

/* Nav */
nav {
	width: 100%;
	padding: 0.3em 0;	
	height: 4em;
	color: #FFF;
	background-color: #275d2c;
	z-index: 998;
	border-bottom: 0.3em solid #90ab66;
}

nav a {
	color: #FFF;
}

.tree-choice {
  padding: 10px;
}

nav ul,li {	
	padding: 0;
	display: inline-block;
}

.column-5 button {
  background: #275d2c;
  color: #FFF;
  border: 1px solid #275d2c;
  border-radius: 4px;
  padding: 0.5em 0.6em 0.3em;
  float: right;
  position: relative;
  top: 5px;
}

.left-hand-menu {
  float: left;
  width: 200px;
  height: 100em;
  background-color: red;
}

#showLeftPush {
  color: #FFF;
  background: none;
  border: 0;
  z-index: 99;
}

.cbp-spmenu {
  background: #dac9ab;
  position: fixed;
}

.cbp-spmenu a {
  display: block;
  color: #333;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu-vertical {
  width: 300px;
  height: 100%;
  top: 156px;
  padding: 2em;
}

.cbp-spmenu-vertical a {
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 300px;
}

.cbp-spmenu-push-toleft {
  left: -300px;
}

.cbp-spmenu-left {
  left: -300px;
}

.cbp-spmenu-right {
  right: -300px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
  top: 156px;
  height: 100vh 

}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

.cbp-spmenu li {
  display: block;
}

.accordian-first li:not(:first-child) {
  padding-top: 1em;
}


.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}